---
layout: archive
---

{% include group-by-array collection=site.posts field="tags" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].sticky_posts | default: "Stickied Posts" }}</h3>

{% for tag in group_names %}
  {% if tag == "sticky" %}
    {% assign posts = group_items[forloop.index0] %}
    {% for post in posts %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
